<div class="col-sm-10">
  <input type="text" class="form-control" name="tweet" ng-model="tweetWord" placeholder="Search Tweets" >
</div>
<br/><br/><br/>

<div ng-repeat="tweet in tweets"  class="tweet">
 <span><img class="img-responsive" src="{{tweet.user.profile_image_url}}" alt="Mountain View" "></span> &nbsp;&nbsp;&nbsp; <h4>{{tweet.user.name}}</h4>

   <p >{{tweet.text}}</p>
 
</div>
